@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Bree+Serif&family=Caveat&family=Dancing+Script&family=Edu+SA+Beginner&family=Montserrat:wght@100&family=Tektur&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Imaga */
#logo{
    margin: 34px 45px;
}

#logo img{
    height: 40px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: antiquewhite;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 680px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../wallpaper.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 685px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}
#home p{
    font-family: 'Edu SA Beginner', cursive;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

/* Services Section */
#services{ 
    margin: 34px;
    display: flex; 
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 10px;
    background: rgb(234, 233, 233);
}
#services .box img{
    height: 150px;  
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Edu SA Beginner', cursive;
}

/* Client Section */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("../wallpaper2.jpg") no-repeat center center/cover;
    width: 100%;
    height: 340px;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 115px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("../wallpaper3.jpg") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family: 'Bree Serif', seif;
    font-size: 1.3rem;
}

/* Footer */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(21, 49, 40);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

